.nav-container{
    width: 100%;
    height: 10vh;
    z-index: 99999;
    background: transparent;
    position: fixed;
    left: 0;
    top: 0;
}

.nav-body{
    max-width: 1300px;
    margin: 0 auto;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.nav-cntrl{
    display: none;
}


.nav-body .FaGlobe{
    color: rgb(4, 225, 225);
    font-size: 40px;
}

.nav-body .nav-list{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
}
.icon{
    color: rgb(4, 225, 225);
}

.link-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: rgb(178, 177, 177);
}


.active{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #fff;
    font-weight: 700;
}
.active-icon{
    color: #fff;
}

@media screen and (max-width:550px) {
    .nav-cntrl{
        display: block;
        font-size: 30px;
        color: rgb(4, 225, 225);
    }

    .nav-body{
        padding: 10px;
    }

    .nav-body .nav-list{
        position: absolute;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
        top: 60px;
        right: 10px;
        padding: 30px;
        background: #000;
        width: 150px;
        height: 300px;
        border: 1px solid rgb(4, 225, 225);
    }

    .nav-body .nav-list.hide{
        display: none;
    }

    .nav-body .nav-list.show{
        display: flex;
    }
}