.nav-container{
    padding: 5px;
    width: 300px;
    height: 100%;
    border-right: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.nav-header{
    height: 10vh;
    background: linear-gradient(to bottom,rgba(255,255,255,0.8),rgba(255,255,255,0.9));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
}

.pic{
    display: flex;
    align-items: end;
    justify-content: left;
    width: 100%;
}


.profile{
    font-size: 45px;
    color: teal;
}

.pic p{
    font-size: 25px;
}

.pic h1{
    font-size: 20px;
    font-weight: 400;
}

.name{
    display: flex;
    align-items: end;
    justify-content: left;
    width: 100%;
}

.name h1{
    font-weight: 400;
}

.nav-body{
    height: 60vh;
    width: 100%;
}

.nav-body ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap:10px;
}

.link-container{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
    background: linear-gradient(to bottom,rgba(255,255,255,0.8),rgba(255,255,255,0.9));
    clip-path: polygon(0 0,100% 0px,90% 100%,0% 100%);
    padding: 10px;
}
.active{
    border-bottom: 3px solid black;
    border-left: 3px solid black;
}


.icon{
    color: black;
    font-size: 30px;
}

.liink{
    color: black;
    font-size: 20px;
    padding-left: 30px;
    font-weight: 700;
}

.link-container:hover .icon{
    color: rgb(12, 54, 54);
    font-size: 27px;
    transition: .2s ease-in-out;
}

.link-container:hover .liink{
    color: rgb(12, 54, 54);
    font-size: 22px;
    transition: .2s ease-in-out;
}

.nav-footer{
    height: 10vh;
    padding: 0px;
    background: linear-gradient(to bottom,rgba(255,255,255,0.8),rgba(255,255,255,0.9));
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.nav-footer h1{
    font-size: 20px;
    line-height: 30px;
}

.cv-hlder{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.cv-icon{
    font-size: 20px;
    color: black;
    font-weight: 900;
}

.cv-link{
    font-size: 15px;
    color: black;
    font-weight: 900;
}

.cv-link:hover{
    color: teal;
    font-size: 17px;
    transition: .2s ease-in-out;
}
.nav-controller{
    display: none;
}

@media screen and (max-width:1370px) {
    
    .nav-body ul{
        gap:15px;
    }

}


@media screen and (max-width:450px) {
    .nav-container{
        padding: 10px 5px;
        width: 50%;
        height: 100dvh;
        border: none;
        position: fixed;
        bottom: 0;
        top: 0;
        z-index: 99;
        background: teal;
    }

    .nav-container.open{
        left: 0%;
        transition: .5s ease-in-out;
    }

    .nav-container.close{
        left: -100%;
        transition: .5s ease-in-out;
    }

    .nav-controller{
        display: block;
        position: fixed;
        right:  10px;
        top: 10px;
        font-size: 30px;
    }

    .nav-body ul{
        align-items: start;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        gap: 10px;
    }

    .link-container{
        width: 100%;
        height:40px;
        display: flex;
        align-items: center;
        justify-content: start;
        background: linear-gradient(to bottom,rgba(255,255,255,0.8),rgba(255,255,255,0.9));
        clip-path: polygon(0 0,100% 0px,90% 100%,0% 100%);
        padding: 5px 10px ;
    }

    .icon{
        color: black;
        font-size: 20px;
    }
    
    .liink{
        color: black;
        font-size: 20px;
        padding-left: 30px;
        font-weight: 700;
    }
    
    .link-container:hover .icon{
        font-size: 20px;
    }

    .link-container:hover .liink{
        font-size: 20px;
    }


    .pic h1{
        font-size: 13px;
        font-weight: 400;
    }
    
    .name h1{
        font-weight: 600;
        font-size: 18px;
    }
    
    .nav-footer{
        align-items: center;
    }
    
    .cv-hlder{
        justify-content: center;
    }

}
