.nav-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1999;
}


.nav-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nav-body ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 5% 100%);
}

.link-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: black;
    padding: 5px 25px;
    gap: 2px;
}
.active{
    border-bottom: 2px solid rgb(40, 255, 255);
}


.icon{
    color:  rgb(40, 255, 255);
    font-size: 18px;
}

.liink{
    color: rgb(40, 255, 255);
    font-size: 18px;
}


@media screen and (max-width:450px) {
    .nav-container{
        width: 100%;
        height: 7vh;
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1999;
    }
    .nav-body{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .nav-body ul{
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        height: 100%;
        clip-path: unset;
    }

    .link-container{
        display: flex;
        align-items: center;
        justify-content: start;
        background: black;
        clip-path: unset;
    }

    .icon{
        color: rgb(40, 255, 255);
        font-size: 18px;
    }



    .nav-controller{
        display: block;
        position: fixed;
        right: 20px;
        bottom:15vh;
        font-size: 15px;
        color: black;
        border: 3px solid black;
        box-shadow: -5px 10px 50px black;
        padding: 10px;
        border-radius: 50%;
    }



    
    .liink{
        display: none;
    }
    .link-container:hover .icon{
        color: white;
    }
    
    .link-container:hover .liink{
        color: white;
    }
    
    
    .link-container:hover .icon{
        font-size: 20px;
    }

    .link-container:hover .liink{
        font-size: 20px;
    }
}
