.education-container{
    width: 100%;
}

.eduLan{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 50px 0;
    gap: 20px;
}

.edu{
    width: 350px;
    height: 250px;
    padding: 5px 10px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
    color: white;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.45);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.1px);
    -webkit-backdrop-filter: blur(1.1px);
    border: 1px solid rgba(0, 0, 0, 1);
}

.lan{
    width: 350px;
    height: 250px;
    padding: 12px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    color: white;
    background: rgba(0, 0, 0, 0.45);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.1px);
    -webkit-backdrop-filter: blur(11.1px);
    border: 1px solid rgba(0, 0, 0, 1);
}

.edu-details{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 0px;
    border-top: 2px solid white;
    width: 100%;
    padding: 10px;
}

.details-1{
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 10px;

}

.details-1-icon{
    width: 30px;
    height: 30px;
    color: white;
}

.lan-det{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 10px;
    border-top: 2px solid white;
}
@media screen and (max-width:450px) {

    .eduLan{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding: 50px 0;
        gap: 10px;
    }


    .details-1{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 20px;
        font-weight: 300;
    }

    .details-1-icon{
        width: 20px;
        height:20px;
        color: white;
    }


}


@media screen and (max-width:375px) {
    .eduLan{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding: 20px 0;
        gap: 10px;
    }
}