.home-container{
    margin: 40px 0px 0px 0px;
    height: 100%;
    width: 100%;
}


/* .overlay{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    background: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,0.3));

} */

.hero{
    position: absolute;
    top: 15%;
    left: 0%;
    width: 50%;
    padding: 30px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    z-index: 21;
}

.hero h3{
    font-size: 16px;
    color: rgb(99, 252, 252);
}

.hero-tag p{
    font-size: 18px;
    color: white;
    z-index: 21;
}

.hero-tag h1{
    font-size: 45px;
    color: white;
    z-index: 21;
}

.img-container{
    position: fixed;
    width:  40%;
    height:60%;
    right: 50px;
    top: 10%;
    z-index: -1;
}

.img-container img{
    object-fit: contain;
    width: 100%;
    height:100%;
}

.details{
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 35vh;
    padding: 5px;
}

.about,.social,.experience{
    width: 30%;
    height: 100%;
}


.about p{
    font-size: 14px;
    font-weight: 300;
    color: white;
    padding: 5px;
    text-align: justify;
}

.experience p{
    font-size: 14px;
    font-weight: 300;
    color: white;
    padding: 5px;
    text-align: justify;
}
.title{
    color: rgb(102, 255, 255);
    font-size: 16px;
}


.email{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
}

.icons{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}
.socio-lnk{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 14px;
    color: white;
}

@media screen and (max-width:450px) {
    .home-container{
        margin: 0px 0px 0px 0px;
        height: scroll;
        width: 100%;
    }
    
    .img-container{
        position: fixed;
        width:  80%;
        height:60%;
        margin: 0 auto;
        top: 1%;
        z-index: -1;
    }
    
    .hero{
        top: 50%;
        left: 0%;
        width: 90%;
    }
    
    .details{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        top: 80%;
        min-height: auto;
        width: 100%;
        padding: 5px;
        gap: 20px;
    }

    .about,.social,.experience{
        width: 95%;
        height: auto;
    }
    
}