.home-container{
    margin: 40px 0px 0px 0px;
    height: 100%;
    width: 100%;
}


.overlay{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    /* background: linear-gradient(to bottom,rgba(0,0,0,0.1),rgba(0,0,0,0.6)); */

}

.hero{
    position: absolute;
    top: 30%;
    left: 10%;
    width: 50%;
    text-align: justify;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
    z-index: 21;
}

.hero h3{
    font-size: 16px;
    color: rgb(99, 252, 252);
}

.hero-tag p{
    font-size: 18px;
    color: white;
    z-index: 21;
}

.hero-tag h1{
    font-size: 45px;
    color: white;
    z-index: 21;
}

.img-container{
    position: fixed;
    width:  40%;
    height: 70%;
    right: 50px;
    top: 60px;
    z-index: -1;
}

.img-container img{
    object-fit: contain;
    width: 100%;
    height:100%;
}

.details{
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    padding: 5px;
    background: linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,0.9));
}

.about,.social{
    width: 30%;
    height: 100%;
    /* background: #000; */
}


.about p{
    font-size: 14px;
    font-weight: 300;
    color: white;
    padding: 10px;
    text-align: justify;
}
.title{
    color: rgb(102, 255, 255);
    font-size: 16px;
}
.about h1{

}

.about h1{

}

.icons{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}
.socio-lnk{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 16px;
    color: rgb(99, 252, 252);
}