.contact-holder{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 100vh;
    width: 100%;
}


.form-container-header{
  text-align: start;
  width: 100%;
  color: white;
  font-size: 18px;
}
.contact-icon{
    width: 25px;
    height:25px;
}


.form-container {
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  margin: 5vh auto;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}


form {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 80%;
  min-height: 350px;
}


.contact-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 20px;
  width: 80%;
  border-left: 3px solid teal;
  height: 350px;
}

.contact-list h1{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  color: white;
}

.contact-list p{
  text-align: justify;
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 18px;
  padding-top: 10px;
}

.name-secton{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-weight: 400;
  color: white;
  font-size: 15px;
}

.email-section{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 5px;
  font-weight: 400;
  font-size: 15px;
  color: white;
}


.form-text{
    width: 100%;
    margin-top: 5px;
    font-weight: 400;
    font-size: 15px;
    color: white;
}

.name-input{
    width: 100%;
    padding: 4px;
    border-bottom: 1px solid #fff;
    border-radius: 6px;
    color: black;
    background: transparent;
}

.text-input{
    width: 100%;
    min-height: 10vh;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 4px;
    background: transparent;
    color: black;
}

.form-group{
    width: 100%;
}

.submit-btn{
  padding: 10px;
  width: 30%;
  margin: 15px auto;
  border: none;
  background-color: white;
  color: teal;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  
}

.submit-btn:hover {
  transition: .3s ease-in-out;
  background-color: rgb(56, 212, 212);
}

@media screen and (max-width:1370px) {

  .form-container {
    margin: 0vh auto;
    height: auto;
    padding: 10px 20px;
  }
  .name-secton{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-weight: 400;
  }

  .email-section{
    width: 100%;
    gap: 0px;
    margin-top: 5px;
    font-weight: 400;
  }

  .name-input{
    width: 100%;
    padding: 4px;
    border: 2px solid #ccc;
    border-radius: 6px;
  }

  .text-input{
      width: 100%;
      min-height: 5vh;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 4px;
}

}

@media screen and (max-width:450px) {

  .contact-icon{
      width: 20px;
      height: 20px;
  }

  .contact-holder{
    width: 100%;
    height: 92vh;
    overflow: auto;
  } 

  .form-container {
    padding: 10px;
    border-radius: 8px;
    width: 95%;
    margin: 10vh auto 0;
    flex-direction: column-reverse;
  }
  .contact-list {
    border-left: none;
    border-bottom: 3px solid teal;
    text-align: start;
    align-items: start;
  }
  
  .contact-list h1{
    font-size: 16px;
  }

  .name-secton{
    flex-direction: column;
    width: 100%;
    gap: 10px;
    font-weight: 300;
  }

  .email-section{
    flex-direction: column;
    width: 100%;
    gap: 10px;
    font-weight: 300;
  }
  
  
}


@media screen and (max-width:375px) {
  .form-container {
    /* margin: 5vh auto 0; */
  }
}