.project-detail-holder{
    width: 100%;
    margin: 10px auto;
    height: 75vh;
    overflow: auto;
    scrollbar-width: none;
    padding: 20px;
}


.project-title{
    font-size: 25px;
    font-weight: 400;
    color: black;
    text-align: center;
}

.project-title span{
    font-size: 35px;
    font-weight: 900;
    color: white;
}


.main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin: 30px 0;
}

.content-img{
    width: 100%;
    height: 50vh;
    border-radius: 15px;
}

.content-link-btn{
    width: 70%;
    margin: 20px auto;
    height: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: space-around;
    gap: 30px;
}

.btn-icon{
    width: 20px;
}

.content-lnk{
    flex: 1;
    padding:4px 30px;
    background: white;
    color: teal;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.content-lnk:hover{
    transform: scale(1.05);
    transition: .3s ease-in-out;
    color: white;
    background: black;
}

.content-techknowlogy{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 90%;
}


.techknologies{
    width: 250px;
    height:350px;
    background: teal;
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tech-header{
    height: 40px;
    width: 100%;
    border-bottom: 1px solid white;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
}

.tech-header h1{
    color: white;
}



.techknologies::after{
    content: '';
    position: absolute;
    background: white;
    border-radius: 5px;
    width: 60px;
    height: 60px;
    bottom:   0;
    right: 0px;
    z-index: -1;
    box-shadow: 0px 20px 50px white;
    animation: card-right-animation 2s infinite;
}

@keyframes card-right-animation {
    0%{
        bottom:   0;
        right: -2px;
    }
    50%{
        bottom: calc(100% - 60px);
        right: -2px;
    }
    100%{
        bottom: 0;
        right: -2px;
    }
}

.techknologies-list{
    width:  100%;
    padding: 10px;
}

.techknologies-list h1{
    color: white;
}

.techknologies-list h1:hover{
    transition: .4s all;
    transform: scale(1.05);
}

.additional-info{
    width: 350px;
    height:auto;
    margin: 60px auto 0;
    padding: 40px 20px;
    background: teal;
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.additional-info h1{
    color: white;
    font-size: 25px;
}

@media screen and (max-width:450px) {
    .project-detail-holder{
        height: 90vh;
        padding: 5px;
    }

    .content-link-btn{
        gap: 10px;
    }
    .project-title{
        display: block;
    }

    .techknologies{
        width: 95%;
    }
    .additional-info{
        width: 100%;
    }
    .additional-info h1{
        color: white;
        font-size: 20px;
        text-align: justify;
    }
}