.projects-holder{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.project-head{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    padding: 15px;
    gap: 20px;
}

.project-head h1{
    font-size: 35px;
}

.project-icon{
    height: 35px;
    width: 35px;
}


.projects{
    width: 80%;
    height: 60vh;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.single-projects{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}

.details{
    flex: 2;
    width: fit-content;
    gap:20px;
    padding: 5px;
}


.detail{
    border-bottom: 2px solid white;
    padding: 0px 0;
    flex: 1;
}


.detail h1{
    font-size: 25px;
    color: white;
    font-weight: 700;
}


.detail p{
    text-align: justify;
    font-size: 18px;
    color: black;
}

.project-img1{
    flex: 1;
    width: 250px;
    height: 350px;
}

.link-holder{
    width: 70%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    margin: 30px auto;
}



.single-projects-icon{
    width:  18px;
    height: 18px;
    padding: 1px;
    border: .5px solid teal;
    border-radius: 50%;
    color: teal;
}

.site-link{
    flex: 1;
    background: #fff;
    width: fit-content;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    padding: 7px;
    font-weight: 700;
    color: teal;
    box-shadow: 0 10px 40px 0 black;
}

.detls-link{
    flex: 1;
    background: #fff;
    width: fit-content;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    padding: 7px;
    font-weight: 700;
    color: teal;
    box-shadow: 0 10px 40px 0 black;
}

.site-link:hover{
    transition: .4s ease-out;
    transform: scale(1.05);
}

.detls-link:hover{
    transition: .4s ease-out;
    transform: scale(1.05);
}


@media screen and (max-width:850px) {
    .projects{
        width: 100%;
        flex-direction: column;
    }
    
    .detail h1{
        font-size: 20px;
        color: white;
        font-weight: 700;
    }

}

@media screen and (max-width:450px) {
    .projects-holder{
        height:92vh;
        overflow: scroll;
        justify-content: space-between;
        flex-direction: column;
    }

    .projects{
        width: 100%;
        height: auto;
    }

    .single-projects{
        flex-direction: column;
    }

    .project-img1{
        margin: 10px auto;
    }

    .link-holder{
        width: 100%;
        margin: 20px auto;
    }

    .site-link{
        padding: 2px;
    }

    .detls-link{
        padding: 2px;
    }
}