.projects-holder{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.project-head{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    padding: 10px;
}

.project-head-title{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
}

.project-navigation{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

.project-navigation-btn{
    font-size: 16px;
    border: .5px solid black;
    color: black;
    padding: 4px 20px;
    border-radius: 3px;
    width: 80px;
    cursor: pointer;
}

.project-navigation-btn:hover{
    scale: .9;
}

.project-head h1{
    font-size: 35px;
}

.project-icon{
    height: 35px;
    width: 35px;
}


.projects{
    width: 80%;
    height: 60vh;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.single-projects{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}

.details{
    flex: 2;
    width: fit-content;
    gap:20px;
    padding: 5px;
}


.detail{
    border-bottom: 2px solid white;
    padding: 10px;
    flex: 1;
    position: relative;
    box-shadow: 0 0 10px 0px white;
    z-index: 10;
    opacity: 1;
}

.detail::before{
    content: '';
    height: 0px;
    width:  100px;
    background: white;
    box-shadow: 10px 10px 30px 10px white;
    position: absolute;
    bottom: 0px;
    border-radius: 5px;
    left: 0;
    z-index: -1;
    animation: bottom-animation 4s infinite;
}


@keyframes  bottom-animation{
    0%{
        left: 0;
    }
    100%{
        left: calc(100% - 120px);
    }
}


.detail-tag{
    font-size: 25px;
    color: rgb(126, 124, 124);
    font-weight: 700;
    position: relative;
    width: 280px;
}


.detail-tag::before{
    content: attr(data-text);
    position:absolute;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #fff;
    animation: animate 4s linear infinite;
    filter: drop-shadow(0 0 20px #fff);
    color: #fff;
}

@keyframes animate {
    0%,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}


.detail p{
    text-align: justify;
    font-size: 18px;
    color: black;
}

.project-img1{
    flex: 1;
    width: 250px;
    height: 350px;
    object-fit:contain;
}

.link-holder{
    width: 60%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    margin: 30px auto;
}



.single-projects-icon{
    width:  18px;
    height: 18px;
    padding: 1px;
    border: .5px solid teal;
    border-radius: 50%;
    color: teal;
}

.site-link{
    flex: 1;
    background: #fff;
    width: fit-content;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
    padding: 4px;
    font-weight: 300;
    color: teal;
    box-shadow: 0 10px 40px 0 black;
    border-radius: 4px;
}

.detls-link{
    flex: 1;
    background: #fff;
    width: fit-content;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 18px;
    padding: 4px;
    font-weight: 300;
    color: teal;
    box-shadow: 0 10px 40px 0 black;
    border-radius: 4px;
}

.site-link:hover{
    transition: .4s ease-out;
    transform: scale(.9);
}

.detls-link:hover{
    transition: .4s ease-out;
    transform: scale(.9);
}


@media screen and (max-width:850px) {
    .projects{
        width: 100%;
        height: auto;
        margin-bottom:9vh;
    }
    
    .detail-tag{
        width: 280px;
        color: rgb(126, 124, 124);
    }
    .project-img1{
        width: auto;
    }

}

@media screen and (max-width:450px) {
    .projects-holder{
        scrollbar-width: none;
        justify-content: space-between;
        flex-direction: column;
    }

    .project-head{
        display: flex;
        align-items: center;
        justify-content: start;
        width: 100%;
        padding: 5px;
        gap: 10px;
    }
    
    .project-head h1{
        font-size: 20px;
    }
    
    .project-icon{
        height: 20px;
        width: 20px;
    }
    

    .projects{
        width: 100%;
        height: auto;
    }

    .detail{
        width: 100%;
        padding: 15px;
    }

    .detail-tag{
        width: 230px;
        font-size: 20px;
        padding: 10px 0;
        color: rgb(126, 124, 124);
    }
    

    .single-projects{
        flex-direction: column;
    }

    .project-img1{
        margin: 10px auto;
        height: 250px;
        width: 250px;
        object-fit: contain;
    }

    .link-holder{
        width: 90%;
        margin: 20px auto;
        gap:40px;
    }
    
    .site-link{
        padding: 2px;
        font-size: 18px;
        font-weight: 300;
        box-shadow: 0 10px 30px 0 black;
    }

    .detls-link{
        padding: 2px;
        font-size: 18px;
        font-weight: 300;
        box-shadow: 0 10px 30px 0 black;
    }

    .project-navigation-btn{
        width: 65px;
        font-size: 13px;
    }
}