.projects-holder{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    overflow-y: scroll;
    padding: 10vh 10px;
}

.projects-holder::-webkit-scrollbar{
    display: none;
}

.project-details{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.project-details h1{
    font-size: 25px;
    color: #fff;
    text-align: center;
}

.link-container-1{
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 30px;
    width: 100%;
}

.project-link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #fff;
    font-size: 15px;
    text-decoration: underline;
    &:hover{
        color: teal;
        transition: all 0.3s ease-in-out;
    }
}

.project-description{
    display: flex;
    align-items: start;
    justify-content: space-between;
    color: #fff;
    width: 100%;
    gap: 40px;
}

.description{
    width: 50%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.description p{
    color: #fff;
    font-size: 14px;
    padding-left: 10px;
}


.description p span{
    color: teal;
    margin-right: 5px;
}

.project-tech{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
}

.project-tech h5{
    color: teal;
    font-size: 14px;
    font-weight: 700;
}

.project-tech h5 span{
    color: #fff;
    font-size: 14px;
    padding-left: 10px;
    font-weight: 300;
}

.project-navigation{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    width: 100%;
    margin-top: 50px;
}

.project-navigation button{
    background-color: transparent;
    color: #fff;
    font-size: 25px;
    border: none;
    cursor: pointer;
    &:hover{
        width: scale(2);
        color: teal;
        transition: all 0.3s ease-in-out;
    }
}

.project-image{
    width: 80vw;
    object-fit: cover;
    margin: 40px;
}

@media screen and (max-width: 450px){
    .projects-holder{
        align-items: start;
        justify-content: start;
        gap: 30px;
        width: 100%;
    }


    .project-description{
        flex-direction: column;
    }

    .link-container-1{
        gap: 10px;
        flex-direction: column;
        padding: 30px 0;
    }

    .description{
        width: 100%;
    }

    .project-tech{
        width: 100%;
    }
}