.app-body{    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background:rgb(13, 34, 66);
    position: fixed;
    top: 0;
    left: 0;
}

.app-contents{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}